.wrapper p{
    display: inline;
}

.wrapper .textHoverbox{
    position: relative;
    display: inline;
    text-align: left;
    cursor: pointer;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.layout__region--second{
    padding-left: 15px;
}
.wrapper .tooltip{
    width: 600px;
    height: auto;
    left: 120%;

}


.wrapper .textHoverbox sup{
    display: inline;

}

.wrapper .textHoverbox .tooltip{
    position: absolute;
    top: -60%;
    z-index: 2;
    background: #fff;
    color: rgb(0, 0, 0);
    padding: 10px 18px;
    font-size: 12px;
    font-weight: 100;
    border-style: solid;
    border-width: thin;
    opacity: 0;
    pointer-events: none;
    

}

.tooltip{
    display: inline;
    left: 30px;
}

.wrapper .textHoverbox:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
}


.textHoverbox .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: rgb(255, 255, 255);
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    left: -1px;
    transform: translateX(-50%) rotate(45deg);
}

.super{
  color:#00004d;
}

