/* ID of any box where search text can be entered */
#edit-field-name-value--2, #edit-title--2, #edit-title, #edit-title--3, #edit-title, #edit-curator, #edit-exhibit, #edit-exhibit--2, #edit-title-1--2, #edit-creator--2 {
  display: block;
}

/* ID of the apply button */
#edit-actions--2, #edit-submit-rc-people, #edit-submit-gallery-explore-all-images {
  vertical-align: bottom;
  margin-bottom: 5px;
}

#edit-actions {
  vertical-align: bottom;
  margin-bottom: 5px;
}

/* ID of whole filter block */
#views-exposed-form-rc-people-block-1, #views-exposed-form-praxis-view-block-2, #views-exposed-form-primary-authors-block-1, 
#views-exposed-form-pedagogies-view1-block-2, #views-exposed-form-r-r-review-search-block-1, #views-exposed-form-r-r-review-search-block-2, 
#views-exposed-form-gallery-explore-all-exhibits-block-1, #views-exposed-form-gallery-explore-all-images-block-1,
#views-exposed-form-editions--block-2, #views-exposed-form-other-digital-humanities-view-block-2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

/* Adds a bit of padding to labels */
.control-label {
  margin-right: 10px;
}

/* Add filter ids of dropdown box you want wider here*/
#edit-items-per-page, #edit-items-per-page--3, #edit-places-tags, #edit-people-tags, #edit-curator--2, #edit-places-tags--2, #edit-people-tags--2 #edit-sort-by--2, #edit-people-tags--2, #edit-items-per-page--2 {
  width: 100%;
}
#views-field-nothing{
  display: hidden;
}