/* For each field in the view create a custom class name then edit the css here*/
/* gallery latest*/
/*H2 {*/
/*  margin: 40px 0;*/
/*}*/

.view-gallery-latest {
  margin: 0;
  padding: 0;
}

.teaser {
  margin-bottom: 50px;
}

.gallery-latest .field--name-field-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  width: 90%;
  height: 400px;
  object-fit: cover;
}

.gallery-latest h2{
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}
.gallery-latest h4{
  text-align: left;
}

.item-list ul{
  padding: 0;
}

/* other views */
.views-field-title {
  font-size: 20px;
  text-align: center;
  min-height: 20px;
  padding: 0;
}

.views-field-title a{
  /*Accent color and header font*/
  font-family: "Source Sans Pro Light", "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
}

/*.img-card */
.views-field-field-image .img-responsive{
  width: 90%;
  padding: 10px 0;
}
/* Contributor on card */
.views-field-field-contributors {
  margin: auto;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

/*.description-card*/
.views-field-field-decription{
}

/* filter */
.field--name-body h6 {
  margin: auto;
  padding: 0 18px;
  max-width: 100%;
  width: 100%;
}

/* proper mosaic grid flow */
.row #views-bootstrap-gallery-exhibit-items-block-1 .row, .row #views-bootstrap-gallery-explore-all-images-block-1 .row, .row #views-bootstrap-gallery-explore-all-exhibits-block-1 .row  {
  -ms-column-width: 19em;
  -moz-column-width: 19em;
  -webkit-column-width: 19em;
  column-width: 19em;
  
  -ms-column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em; 
  column-gap: 1em;
}

.row #views-bootstrap-gallery-exhibit-items-block-1 .row .masonry, .row #views-bootstrap-gallery-explore-all-images-block-1 .row .masonry, .row #views-bootstrap-gallery-explore-all-exhibits-block-1 .row .masonry {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.panel {
  display: inline-block;
  margin-bottom: 2em;
  padding: 0.5rem;
  height: 100%;
  width:  100%; 
}

.panel h4 {
  text-align: center;
}

