/* page formatting */

.views-field .views-field-title{
  height:70px;
  text-align:center;
}

.img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 500px;
    padding: 20px 0;
}

body p {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fill-available;
  max-width: 90%;
}

.view-content .views-row p{
  /*padding-left:10px;*/
  /*padding-right:10px;*/
  padding: 0px;
}

.views-field.views-field-field-contributor-list{
  padding-bottom:20px;
}

li{
   list-style-type: none;
}

/* add class to indent text */
.field--name-field-date-published .field--item, .field--name-field-exhibit-tags {
  margin: auto;
  width: 90%;
}

/* formating the description dropdown button make look like an h2 to match other headers/titles */
.collapse_button {
  color: #00004d;
  font-size: 20px;
  text-align: left;
}
.collapse_content {
  padding: 0;
}

