/* .lab-poets-on-poets-list class */
/* Gives custom bullet points for a view */
/* More info on custom bullet points can be found here: https://stackoverflow.com/questions/7698764/custom-bullet-symbol-for-li-elements-in-ul-that-is-a-regular-character-and */

.lab-poets-on-poets-list ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.5em;
}
.lab-poets-on-poets-list ul li:before {
	content: url("/sites/default/files/2022-03/speaker_0.png");
	position: absolute;
	left: 0;
}
