/* title formatting */
/* This makes the title white and smaller on the page */
#page-title-full-width-container, .page-title-full-width-container {
    background: white;
    position: relative;
    margin: 0;
}

#page-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%; 
    background: white;
}

#page-title .page-title {
    height: auto;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 0;
    background: white;
}

.page-title-full-width-container .page-title-container {
    position: relative;
}
