/* Praxis/Pedagogies/Editions/Other DH Home */
.view-content .field-content .home-title{
  height:60px;
}

.tall-card-title{
  height: 150px;
}

.block.block-layout-builder.block-field-blocknodepraxis-pagefield-image.clearfix .img-responsive, 
.block.block-layout-builder.block-field-blocknodepedagogies-publicationfield-image.clearfix .img-responsive,
.block.block-layout-builder.block-field-blocknoder-r-conferencefield-image.clearfix .img-responsive,
.block.block-layout-builder.block-field-blocknodeother-digital-humanities-publicafield-image.clearfix .img-responsive, 
.views-element-container.contextual-region.block.block-views.block-views-blockr-r-review-search-block-1.clearfix .img-responsive,
.block.block-layout-builder.block-field-blocknodeeditions-publicationfield-image.clearfix .img-responsive{
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding:10px;

}


.home-img .img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 10px;
}


.view-content .views-row .description p, .home-time time{
  line-height: 1em;
  height: 6.1em;
  overflow: auto;
  text-overflow: ellipsis;
  padding-left:15px;
  padding-right:10px;
  padding-bottom:10px;
}

.spacing{
  padding:25px;
}

.views-field.views-field-field-contributor-list{
  padding-bottom:25px;
}

/*Praxis/Pedagogies/Editions Articles*/

.sidebar-img .img-responsive{
  border-radius:10px;
}


.spacing-toc{
  padding:5px;
}

.sidebar, p.print{
  padding-left: 25px;
}





/*
This was causing elements on the home page to be misaligned with eachother.
.layout__region.layout__region--first *{
  padding-bottom:5px;
}
*/

/* Gallery Home page specific */
/* This removes the bulletpoints from the Exhibits on Gallery's homepage  */
.gallery-latest li{
   list-style-type: none;
}

div .field--name-field-contributors .field--items {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
div .field--name-field-contributors {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
div .field--name-field-contributors .field--item {
  padding: 0 10px 0 0;
}
div .field--name-field-contributors .field--label {
  padding: 0 10px 0 0;
}

/* Pop Culture Media Item Center Image */
.block.block-layout-builder.block-field-blocknodelab-pop-culture-articlefield-image.clearfix .img-responsive{
  margin: auto;
}

 /*Unbound */
.unbound-home{
  margin:auto;
  width:70%;
}

.block.block-layout-builder.block-field-blocknodeunbound-publicationfield-image.clearfix .img-responsive{
  margin:auto;
}

.unbound-container{
  margin-top:30px;
  margin-left:15%;
  display:flex;
  align-items:center;
}

.unbound-container .img-responsive{
  margin-left:auto;
}

.block.block-layout-builder.block-field-blocknodeunbound-publicationfield-date-published-released.clearfix p{
  font-size:20px;
  margin-left:15.5%;
}
.book-img{
  height: 240px;
}