.view-content{
  display: inline-block;
}
.view-content .hover-over{
    display: inline;
    text-align: left;
    cursor: pointer;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.view-content .abstract{
    width: 750px;
    height: auto;

}

.view-content .hover-over .abstract{
    position: absolute;
    top: var(--height);
    left:500px;
    color: rgb(0, 0, 0);
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 100;
    opacity: 0;
    pointer-events: none;
    

}

.abstract{
    display: inline;
    left: 30px;
}

.view-content .hover-over:hover .abstract{
    opacity: 1;
    pointer-events: auto;
}

.view-content .views-row h4 {
    inline-size: 450px;
    margin-top:10px;
    margin-bottom:0px;
}



/*For R+R booklist*/

.field--item .hover-over{
    display: inline;
    text-align: left;
    cursor: pointer;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.field--item .abstract{
    width: 400px;
    height: auto;

}

.field--item .hover-over .abstract{
    position: absolute;
    /*top: var(--height);*/
    
    left:650px;
    width: 50%;
    height: auto;
    color: rgb(0, 0, 0);
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 100;
    opacity: 0;
    pointer-events: none;
}


.abstract{
    display: inline;
    left: 30px;
}

.field--item .hover-over:hover .abstract{
    opacity: 1;
    pointer-events: auto;
}
