h1{
  text-align: center;
}
h2{
  text-align: left;
}

hr {
  height: 1px;
  border-top: 1px solid #D3D3D3;
}

.expanded.dropdown.active a{
  color:white;
  background-color: transparent;
  font-weight: 500;
}
/* Center the view used to display the contributors */
.view-id-global_display_authors, .view-id-duplicate_of_global_display_primary_author{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

h1>a, h2>a, h3>a, h4>a, h5>a a{
  transition: text-decoration .5s ease;
  text-decoration: underline solid transparent;
}
a:hover, h1>a:hover, h2>a:hover, h3>a:hover, h4>a:hover, h5>a:hover{
  transition: text-decoration .5s ease;
  text-decoration: underline solid #A38C42;
  color: #00004D;
}

.view-duplicate-of-global-display-primary-author{
  text-align: center;
}
.search{
    margin-top: 40px;
    width: 20px;
    height: 20px;
}

.body--dxpr-theme-nav-desktop .dxpr-theme-header--top #logo {
  max-height: 60px;
}